.home-page {
  background-color: rgb(37, 37, 147);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.weather-main-card {
  background-image: url(../src/assets/images/bg-today-large.svg);
  background-repeat: no-repeat;
  min-height: 150px;
}
.search-section {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .search-section {
    width: 100%; /* wider on mobile */
  }
}
.stat-card,
.daily-card,
.hourly-card,
.weather-right {
  background-color: rgba(255, 255, 255, 0.092);
  border-radius: 1rem;
}
.weather-right {
}
.stat-grid {
  min-height: 120px;
  width: 100%;
}
.daily-forecast {
  min-height: 120px;
}
